/******************************  START  ********************************/
body,
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 64em) {
	#arrowStyling{
	display:block;
	}
	#arrowImage{
	#arrowStyling  > .arrowImageStyling();
	margin-bottom: -30px;
	display: block;
}
	#arrowImageAbout{
	display:block;
	#arrowStyling  > .arrowImageStyling();
}
	#arrowWrapper{
	display:block;
	margin-top:250px;
	border: solid @blue;
}

	#arrowImage2{
	display:block;
	#arrowStyling  > .arrowImageStyling();
	border: solid @blue;
}
	
}

#headerImageWrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#headerImageWrapper {
  background-image: url("../images/startimage.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
.topnav {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.topnav a {
  margin-top: 10px;
  letter-spacing: 0.2em;
  font-size: 0.6em;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 11px 0px 11px;
  text-decoration: none;
}
#myTopnav > a:nth-child(3) > img {
  width: 70px;
  height: 70px;
  display: block;
  margin-top: -13px;
  color: #FFFFFF;
  text-align: center;
}
/*.active {
	background-color: rgb(224, 222, 221);
	color: white;
  }*/
.topnav .icon {
  display: none;
}
#arrowImage {
  display:none;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-bottom: -30px;
}
/******* part two on page om lennart och bror *******/
#partTwo {
  height: auto;
}
h1 {
  padding-top: 40px;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}
#aboutLB {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /*height: calc(45vh - 10px); test this in tablet
	display: flex;
	justify-content: space-around*/
  overflow: auto;
}
#aboutText {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
#arrowImageAbout {
  display:none;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/**** happening at L&B part****/
#happeningWrapper {
  background-color: #162836;
  height: 100vh;
  /*height: calc(55vh - 10px);*/
  color: #FFFFFF;
  position: relative;
}
#arrowWrapper {
  display:none;
  margin-top: 250px;
  border: solid #162836;
}
#arrowImage2 {
  display:none;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid #162836;
}
#happeningWrapper h2 {
  padding-bottom: 38px;
  padding-top: 40px;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}
#dateWrapper {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  height: auto;
}
#date {
  width: 100px;
  height: 120px;
  text-align: center;
}
#info {
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  padding-right: 40px;
  padding-left: 40px;
}
#text {
  width: 200px;
  height: 120px;
  text-align: left;
  padding-left: 10px;
  font-size: 0.8em;
  letter-spacing: 0.08em;
}
#text h3 {
  margin-top: 0px;
  margin-bottom: -2px;
  letter-spacing: 0.2em;
}
#date p {
  margin-top: 0px;
  border: solid 3px #FFFFFF;
  padding: 30px 20px;
  font-size: 0.8em;
}
/***** Food menu part *****/
h4 {
  padding-top: 40px;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}
#menuWrapper {
  height: auto;
}
#menuInfoWrapper {
  padding: 0px 60px 60px 60px;
  height: 60%;
  background-color: #F1F3F2;
}
#pureWrapperCenter {
  display: flex;
  justify-content: center;
}
#menuInfoWrapper p {
  width: 500px;
}
#foodimg {
  width: 500px;
  height: 250px;
}
#menuButton {
  margin-top: 50px;
  width: 200px;
  background-color: #FFFFFF;
  border: solid 1px #000000;
  padding: 7px 10px 7px 10px;
}
/*** order food part***/
#orderWrapper {
  display: flex;
  height: 300px;
  justify-content: space-around;
  flex-direction: row-reverse;
}
#drawingimg {
  padding: 20px;
}
h5 {
  letter-spacing: 0.2em;
}
#innerOrderWrapper {
  padding: 20px;
}
#rightWrapper h5 {
  margin-top: 0px;
  margin-bottom: 20px;
}
#rightWrapper p {
  font-size: 0.8em;
  margin-top: 0px;
}
#callButton {
  background-color: #FFFFFF;
  border: solid 1px #000000;
  padding: 7px 10px 7px 10px;
}
#callLink {
  text-decoration: none;
  color: #000000;
}
/******* image part****/
/****** FOOTER ********/
#footerWrapper {
  background-color: #162836;
  height: auto;
  color: #FFFFFF;
}
#leftWrapper {
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px;
}
#rightWrapper {
  margin-top: 40px;
  background-color: #FFFFFF;
  color: #000000;
  width: 100%;
}
h6 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}
#text1 {
  width: 150px;
  height: auto;
  text-align: left;
  font-size: 0.8em;
  letter-spacing: 0.08em;
}
#text1 p,
#text2 p {
  margin-bottom: 20px;
}
#text2 {
  width: 200px;
  height: auto;
  text-align: left;
  font-size: 0.8em;
  letter-spacing: 0.08em;
}
#linkWrapper {
  padding: 10px 5px 10px 5px;
  border: 2px solid #FFFFFF;
  text-align: center;
}
#emailLink {
  text-decoration: none;
  color: #FFFFFF;
}
#address {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}
#address p {
  display: block;
  margin: 10px;
  text-align: left;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.2em;
}
#socialmedia {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  border-top: solid 1px grey;
}
#facebook,
#instagram {
  border: 2px solid #000000;
  padding: 10px 10px 10px 10px;
  background-color: #FFFFFF;
  font-weight: 800;
}
#facebook:hover,
#instagram:hover,
#callButton:hover,
#callLink:hover {
  background-color: #162836;
  color: #FFFFFF;
}
#arrowImageBackToTop {
  width: 70px;
  height: 70px;
}
.socialLink {
  color: black;
}
#topArrowWrapper {
  display:none;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 711px) {
  #aboutLB {
    display: flex;
    justify-content: space-around;
    overflow: auto;
  }
  #aboutText {
    width: 40%;
  }
  .topnav a {
    font-size: 0.8em;
    font-weight: 700;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
/*

@media screen and (min-width: 900px) {}
@media screen and (min-width: 1024px) {}
*/
